In [1]:
import pandas as pd
import numpy as np

## One Hot Encoding

In [2]:
Gender = ['M', 'F', 'F' ,'M' ,'M' ,'F']
mydata = pd.DataFrame(Gender)
mydata.columns = ['Gender']
mydata

  Gender
0      M
1      F
2      F
3      M
4      M
5      F

In [3]:
# importing one hot encoder 
from sklearn.preprocessing import OneHotEncoder
one_hot_enc = OneHotEncoder()
mydata_encoded = one_hot_enc.fit_transform(mydata).toarray()

In [4]:
mydata_encoded

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [5]:
dfOneHot = pd.DataFrame(mydata_encoded ,columns=["F","M"]) 
dfOneHot

     F    M
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  0.0  1.0
5  1.0  0.0

In [6]:
df = pd.concat([mydata, dfOneHot], axis=1)

In [7]:
df

  Gender    F    M
0      M  0.0  1.0
1      F  1.0  0.0
2      F  1.0  0.0
3      M  0.0  1.0
4      M  0.0  1.0
5      F  1.0  0.0

##  Label Encoding

In [8]:
#In label encoding in Python, we replace the categorical value with a numeric value
#between 0 and the number of classes minus 1. 
#If the categorical variable value contains 5 distinct classes, we use (0, 1, 2, 3, and 4).

In [9]:
height = ['tall', 'med', 'small' ,'tall' ,'tall' ,'med']
mydata = pd.DataFrame(height)
mydata.columns = ['height']
mydata

  height
0   tall
1    med
2  small
3   tall
4   tall
5    med

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_enc = LabelEncoder()

In [12]:
encoded_data = label_enc.fit_transform(mydata['height'])
le_name_mapping = dict(zip(label_enc.classes_, label_enc.transform(label_enc.classes_)))

In [13]:
encoded_data

array([2, 0, 1, 2, 2, 0])

In [14]:
le_name_mapping

{'med': 0, 'small': 1, 'tall': 2}

## Mapping Ordinal Data   / ordinal encoding

In [15]:
df = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High", "Low", "Medium","High", "Low"]})
df

    Score
0     Low
1     Low
2  Medium
3  Medium
4    High
5     Low
6  Medium
7    High
8     Low

In [16]:
mapper = {"Low":1, "Medium":2, "High":3}
    
df["Scale"] = df["Score"].replace(mapper)
df

    Score  Scale
0     Low      1
1     Low      1
2  Medium      2
3  Medium      2
4    High      3
5     Low      1
6  Medium      2
7    High      3
8     Low      1